@model List<OgrenciDers>

    <a class="btn btn-secondary" asp-action="Index"> GERİ</a>
    <br />
    <br />
    <div class="alert alert-success">
    <h4>Bilgileri Görüntülenen Öğrenci:
    @ViewData["Ad"] @ViewData["Soyad"]
    </h4>
    </div>

@if(Model.Count != 0)
{
    <table class="table table-success table-hover">
        <thead>
            <tr>
                <th>
                    Ad
                </th>
                <th>
                    Kod
                </th>
                <th>
                    Kredi
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (OgrenciDers ogrenciDersi in Model)
            {
                <tr>
                    <td>
                        @ogrenciDersi.Ders.Ad
                    </td>
                    <td>
                        @ogrenciDersi.Ders.Kod
                    </td>
                    <td>
                        @ogrenciDersi.Ders.Kredi
                    </td>
                    <td>
                        <a asp-route-id="@ogrenciDersi.Id" asp-action="Sil" class="btn btn-danger">SİL</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-success">
        <h5>Öğrencinin seçtiği herhangi bir ders yoktur!</h5>
    </div>
}

